.home-style43.open1:before {
  content: '';
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}
.home-style43 .main-page {
  padding: 0;
}
.home-style43 > .container {
  padding: 0;
}
.home-style43.boxed-layout {
  max-width: 1680px;
}
.home-style43.boxed-layout:before,
.home-style43.boxed-layout:after {
  width: 0;
  height: 0;
}
.home-style43 .sidebar-row {
  margin: 0;
}
.home-style43 .sale-off {
  height: 25px;
  line-height: 22px;
  padding: 0 9px;
  border-radius: 0;
  font-weight: 400;
  width: auto;
  font-size: 12px;
  background-color: #222;
  top: 10px;
  left: 10px;
  right: auto;
}
.home-style43 div.star,
.home-style43 div.stars {
  height: 13px;
  width: 85px;
  margin-left: -1px;
  background: url("../assets/img/star-43.png") repeat-x scroll 0 0 rgba(0,0,0,0);
}
.home-style43 div.star span,
.home-style43 div.stars span {
  background: url('../assets/img/star-43-active.png') repeat;
}
.home-style43 .elementor-image-box-img img {
  margin: 0 auto;
}
.home-style43 .elementor-widget-image:hover img {
  opacity: 1;
}
html {
  overflow-x: hidden;
}
img.size-full {
  margin: 0;
}
.home.page .main-page .page>.entry-content {
  margin-top: 0;
}
#lang_sel >ul.nav >li >a,
.currency_w >li >a {
  font-size: 12px;
  color: #333;
}
#lang_sel >ul.nav >li >a:after,
.currency_w >li >a:after {
  color: #333;
}
#lang_sel >ul.nav >li,
.currency_w >li {
  padding: 10px 0;
}
#lang_sel a.lang_sel_sel:after {
  font-size: 14px;
  line-height: 18px;
  margin-left: 10px;
}
.currency_w >li >a:after {
  line-height: 18px;
  font-size: 14px;
}
#lang_sel >ul.nav >li >a {
  padding: 0;
}
.text-home42 span {
  color: var(--color);
  text-decoration: underline;
}
.elementor-9597 .elementor-element.elementor-element-f862f4c .swe-title a:hover {
  color: var(--color);
}
.header-top-43 #lang_sel {
  margin-left: 15px;
}
.rtl .header-top-43 #lang_sel {
  margin-right: 15px;
  margin-left: 0;
}
.header-top-43 #lang_sel >ul.nav >li >a,
.header-top-43 .currency_w >li >a {
  font-size: 13px;
  color: #555;
  text-transform: uppercase;
}
.tags-home43 .elementor-widget-wp-widget-tag_cloud {
  text-align: center;
}
.tags-home43 .elementor-widget-wp-widget-tag_cloud h5 {
  display: none;
}
.tags-home43 .elementor-widget-wp-widget-tag_cloud .tagcloud {
  display: inline-block;
}
.tags-home43 .elementor-widget-wp-widget-tag_cloud .tagcloud >a {
  height: 45px;
  padding: 0 55px;
  background-color: transparent;
  color: #fff;
  font-size: 14px !important;
  font-weight: 500;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  line-height: 43px;
  margin: 0 2.5px;
}
.tags-home43 .elementor-widget-wp-widget-tag_cloud .tagcloud >a:hover {
  background-color: #fff;
  color: #111;
}
.home43-text .elementor-heading-title span {
  color: #111111;
  text-decoration: underline;
  cursor: pointer;
}
.home43-text .elementor-heading-title span:hover {
  color: var(--color);
}
.home43-text2 .elementor-heading-title span {
  text-decoration: underline;
  cursor: pointer;
}
.home43-text2 .elementor-heading-title span:hover {
  color: #222;
}
.header-bottom-43 {
  border-bottom: 1px solid #ededed;
}
.home .header-bottom-43 {
  border-bottom: 0;
}
.header-bottom-43 .icon-sidebar {
  height: 45px;
  width: 45px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  line-height: 43px;
  text-align: center;
  color: #222;
  display: inline-block;
}
.header-bottom-43 .icon-sidebar:before {
  content: '\e903';
  font-family: icomoon !important;
  font-size: 24px;
}
.header-bottom-43 .icon-sidebar span {
  font-size: 0;
}
.header-bottom-43 .icon-sidebar:hover {
  border-color: var(--color);
  background-color: var(--color);
  color: #fff;
}
.header-bottom-43 .swsearch-wrapper .top-form.top-search {
  border-radius: 3px;
}
.header-bottom-43 .swsearch-wrapper .top-form.top-search input {
  height: 45px;
  line-height: 45px;
  padding: 0 20px !important;
  border-radius: 3px;
  background-color: #f5f5f5;
}
.header-bottom-43 .swsearch-wrapper .top-form.top-search button.form-button {
  height: 45px;
  line-height: 45px;
  width: 45px;
  background-color: transparent;
  color: #111;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.header-bottom-43 .swsearch-wrapper .top-form.top-search button.form-button:before {
  content: '\e910';
  font-family: 'icomoon' !important;
  font-size: 18px;
}
.header-bottom-43 .swsearch-wrapper .top-form.top-search button.form-button:hover {
  color: var(--color);
}
.header-bottom-43 .swsearch-wrapper .top-form.top-search button.form-button:hover:before {
  color: var(--color);
}
.header-bottom-43 .yith-wcwl-items-count {
  display: flex;
  align-items: flex-end;
}
.header-bottom-43 .yith-wcwl-items-count:hover i {
  color: var(--color);
}
.header-bottom-43 .yith-wcwl-items-count i {
  font-size: 24px;
  color: #222;
  margin-right: 10px;
}
.header-bottom-43 .yith-wcwl-items-count .wishlist-right {
  display: flex;
  flex-direction: column;
}
.header-bottom-43 .yith-wcwl-items-count .wishlist-right span {
  font-size: 13px;
  color: #222;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.header-bottom-43 .yith-wcwl-items-count .wishlist-right span.count-wishlist {
  height: 17px;
  width: 30px;
  line-height: 18px;
  color: #fff;
  font-size: 12px;
  padding: 0 10px;
  margin: 0 0 5px;
  background-color: var(--color);
  border-radius: 8.5px;
  text-align: center;
}
.header-bottom-43 .top-form.top-form-minicart {
  display: flex;
  float: none;
  align-items: baseline;
  flex-direction: row-reverse;
}
.header-bottom-43 .top-form.top-form-minicart:hover .top-minicart-icon:before {
  color: var(--color);
}
.header-bottom-43 .top-form.top-form-minicart .minicart-title {
  display: flex;
  flex-direction: column-reverse;
}
.header-bottom-43 .top-form.top-form-minicart .minicart-title h3 {
  font-size: 13px;
  color: #222;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.header-bottom-43 .top-form.top-form-minicart .minicart-title p {
  font-size: 0;
  margin: 0 0 7px;
}
.header-bottom-43 .top-form.top-form-minicart .minicart-title .minicart-numbers {
  height: 17px;
  display: inline-block;
  text-align: center;
  line-height: 18px;
  min-width: 30px;
  color: #fff;
  font-size: 12px;
  padding: 0 10px;
  background-color: var(--color);
  border-radius: 8.5px;
}
.header-bottom-43 .top-form.top-form-minicart .top-minicart-icon {
  width: 24px;
  height: 24px;
  border-radius: 0;
  background-color: transparent;
  margin-right: 10px;
}
.header-bottom-43 .top-form.top-form-minicart .top-minicart-icon:before {
  content: '\e913';
  font-family: 'icomoon' !important;
  font-size: 24px;
  color: #222;
}
.header-bottom-43 .top-login {
  padding: 0;
}
.header-bottom-43 .top-login ul li:before {
  content: '';
  margin: 0;
}
.header-bottom-43 .top-login ul li i {
  display: none;
}
.header-bottom-43 .top-login ul li a {
  height: 45px;
  padding: 0 30px;
  background-color: #fff;
  color: #111;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 13px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  line-height: 43px;
}
.header-bottom-43 .top-login ul li a:hover {
  background-color: var(--color);
  border-color: var(--color);
  color: #fff;
}
.header-bottom-43 .top-login ul li a.btn-reg-popup {
  display: none;
}
.header-sibar-home43 {
  max-width: 322px;
  background-color: #fff;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transform: translateX(-322px);
  -moz-transform: translateX(-322px);
  -webkit-transform: translateX(-322px);
  -o-transform: translateX(-322px);
  -ms-transform: translateX(-322px);
}
.header-sibar-home43.open {
  transform: translateX(0px);
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  visibility: visible;
  opacity: 1;
}
.header-sibar-home43 .close-sidebar {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  background: url("../assets/img/close-icon1.png") no-repeat center center transparent;
  position: fixed;
  top: 23px;
  left: 295px;
  font-size: 0;
}
.header-sibar-home43 .elementor-widget-wp-widget-search .searchform {
  height: 50px;
  background-color: #f5f5f5;
  position: relative;
  margin: 22px 30px 20px;
}
.header-sibar-home43 .elementor-widget-wp-widget-search .searchform input[type="text"] {
  height: 50px;
  background-color: #f5f5f5;
  border: 0;
  border-radius: 0;
  width: 100%;
  padding: 0 20px;
}
.header-sibar-home43 .elementor-widget-wp-widget-search .searchform input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  border: 0;
  border-radius: 0;
  width: 50px;
  font-size: 0;
  background: url('../assets/img/icon-search-sb.png') no-repeat center center transparent;
}
.header-sibar-home43 .elementor-widget-wp-widget-search .searchform input[type="submit"]:hover {
  opacity: 0.85;
}
.header-sibar-home43 .main-menu {
  float: none;
}
.header-sibar-home43 .main-menu .nav-pills {
  display: block;
}
.header-sibar-home43 .main-menu .nav-pills >li {
  display: block;
}
.header-sibar-home43 .main-menu .nav-pills >li > a {
  color: #222;
  font-weight: 400;
}
.header-sibar-home43 .main-menu .nav-pills >li.active > a,
.header-sibar-home43 .main-menu .nav-pills >li:hover > a {
  color: var(--color);
}
.header-sibar-home43 .main-menu .nav-pills >li.dropdown >a:after {
  content: '\f105';
}
.header-sibar-home43 .main-menu .nav-pills >li > .dropdown-menu {
  left: 111%;
  top: 0;
}
.header-sibar-home43 .nav-pills.nav-mega .emarket-mega-menu.home-emarket >.dropdown-menu.column-1,
.header-sibar-home43 .nav-pills.nav-mega .emarket-mega-menu.special-emarket >.dropdown-menu.column-1,
.header-sibar-home43 .nav-pills.nav-mega .emarket-mega-menu.promotions-emarket >.dropdown-menu.column-1,
.header-sibar-home43 .nav-pills.nav-mega .emarket-mega-menu.blog-emarket >.dropdown-menu.column-1,
.header-sibar-home43 .nav-pills.nav-mega .emarket-mega-menu.shop-emarket >.dropdown-menu.column-1 {
  min-width: 1650px;
}
.header-sibar-home43 .nav-pills.nav-mega .emarket-mega-menu.menu-promotion .dropdown-menu.column-1>li >.container {
  max-width: 1500px;
}
body.elementor-editor-active .header-sibar-home43 {
  position: relative;
  right: auto;
  top: auto;
  z-index: 9;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transform: translateX(0px);
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
}
#slider-home43_wrapper .hephaistos .tp-bullet {
  height: 18px !important;
  width: 18px !important;
  border: 2px solid transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
#slider-home43_wrapper .hephaistos .tp-bullet:before {
  content: '';
  height: 8px;
  width: 8px;
  background-color: #111;
  border-radius: 4px;
  position: absolute;
  top: 5px;
  left: 5px;
}
#slider-home43_wrapper .hephaistos .tp-bullet.selected,
#slider-home43_wrapper .hephaistos .tp-bullet:hover {
  border-color: #111 !important;
}
.best-selling-product16 {
  position: relative;
}
.best-selling-product16:hover .res-button {
  opacity: 1;
}
.best-selling-product16 .res-button {
  height: 20px;
  width: 20px;
  background-color: transparent;
  color: #111;
  font-size: 24px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  opacity: 0;
}
.best-selling-product16 .res-button:hover {
  color: var(--color);
}
.best-selling-product16 .res-button:before {
  font-family: icomoon !important;
}
.best-selling-product16 .res-button.slick-prev {
  left: -45px;
}
.best-selling-product16 .res-button.slick-prev:before {
  content: '\e918';
}
.best-selling-product16 .res-button.slick-next {
  right: -45px;
}
.best-selling-product16 .res-button.slick-next:before {
  content: '\e919';
}
.best-selling-product16 .box-title h3 {
  font-size: 30px;
  color: #111;
  text-align: center;
  font-weight: 400;
  margin: 0 0 43px;
}
.best-selling-product16 .slider .slick-list {
  position: relative;
  margin: 0 -15px;
}
.best-selling-product16 .slider .slick-list .slick-slide {
  padding: 0 15px;
}
.dailydeals-product13 {
  position: relative;
}
.dailydeals-product13:hover .res-button {
  opacity: 1;
}
.dailydeals-product13 .res-button {
  height: 20px;
  width: 20px;
  background-color: transparent;
  color: #111;
  font-size: 24px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  opacity: 0;
}
.dailydeals-product13 .res-button:hover {
  color: var(--color);
}
.dailydeals-product13 .res-button:before {
  font-family: icomoon !important;
}
.dailydeals-product13 .res-button.slick-prev {
  left: -45px;
}
.dailydeals-product13 .res-button.slick-prev:before {
  content: '\e918';
}
.dailydeals-product13 .res-button.slick-next {
  right: -45px;
}
.dailydeals-product13 .res-button.slick-next:before {
  content: '\e919';
}
.dailydeals-product13 .box-slider-top {
  position: relative;
  margin-top: -20px;
  z-index: 99;
}
.dailydeals-product13 .box-slider-top .item-countdown2 {
  text-align: center;
}
.dailydeals-product13 .box-slider-top .item-countdown2 .countdown-show4 {
  display: inline-block;
  vertical-align: top;
  background-color: #bb3333;
  padding: 24px 80px;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.dailydeals-product13 .box-slider-top .item-countdown2 .countdown-show4:before {
  content: '';
  border-left: solid 20px transparent;
  border-right: solid 0px transparent;
  border-bottom: solid 20px #680d0d;
  height: 0px;
  width: 0;
  position: absolute;
  left: -20px;
  top: 0;
}
.dailydeals-product13 .box-slider-top .item-countdown2 .countdown-show4:after {
  content: '';
  border-left: solid 0px transparent;
  border-right: solid 20px transparent;
  border-bottom: solid 20px #680d0d;
  height: 0px;
  width: 0;
  position: absolute;
  right: -20px;
  top: 0;
}
.dailydeals-product13 .box-slider-top .item-countdown2 .countdown-show4 .countdown-section {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  padding: 0 20px;
  position: relative;
  text-transform: lowercase;
  display: inline-block;
  vertical-align: top;
}
.dailydeals-product13 .box-slider-top .item-countdown2 .countdown-show4 .countdown-section:before {
  content: ':';
  position: absolute;
  right: 0;
  top: 0;
}
.rtl .dailydeals-product13 .box-slider-top .item-countdown2 .countdown-show4 .countdown-section:before {
  left: 0;
  right: auto;
}
.dailydeals-product13 .box-slider-top .item-countdown2 .countdown-show4 .countdown-section:last-child:before {
  content: '';
}
.dailydeals-product13 .slider {
  padding: 45px 0 60px;
  background-color: #f5f5f5;
}
.dailydeals-product13 .slider .slick-list {
  position: relative;
  margin: 0 -15px;
}
.dailydeals-product13 .slider .slick-list .slick-slide {
  padding: 0 15px;
}
.dailydeals-product13 .slider .slick-list .slick-slide .item-wrap20 .item-detail .item-content {
  background-color: transparent;
}
.categories-home43 .sw-category-slider10 {
  position: relative;
}
.categories-home43 .sw-category-slider10:hover .res-button {
  opacity: 1;
}
.categories-home43 .sw-category-slider10 .res-button {
  height: 20px;
  width: 20px;
  background-color: transparent;
  color: #111;
  font-size: 24px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  opacity: 0;
}
.categories-home43 .sw-category-slider10 .res-button:hover {
  color: var(--color);
}
.categories-home43 .sw-category-slider10 .res-button:before {
  font-family: icomoon !important;
}
.categories-home43 .sw-category-slider10 .res-button.slick-prev {
  left: -45px;
}
.categories-home43 .sw-category-slider10 .res-button.slick-prev:before {
  content: '\e918';
}
.categories-home43 .sw-category-slider10 .res-button.slick-next {
  right: -45px;
}
.categories-home43 .sw-category-slider10 .res-button.slick-next:before {
  content: '\e919';
}
.categories-home43 .sw-category-slider10 .box-title h3 {
  font-size: 30px;
  color: #111;
  text-align: center;
  font-weight: 400;
  margin: 0 0 42px;
  float: none !important;
}
.categories-home43 .sw-category-slider10 .box-title .view-all {
  display: none;
}
.categories-home43 .sw-category-slider10 .resp-slider-container .slider .slick-list {
  position: relative;
  margin: 0 -15px;
}
.categories-home43 .sw-category-slider10 .resp-slider-container .slider .slick-list .item {
  padding: 0 15px;
}
.categories-home43 .sw-category-slider10 .resp-slider-container .slider .slick-list .item .item-wrap:hover .item-image a img {
  border-radius: 50px;
}
.categories-home43 .sw-category-slider10 .resp-slider-container .slider .slick-list .item .item-wrap:hover .item-content h3 a {
  color: var(--color);
}
.categories-home43 .sw-category-slider10 .resp-slider-container .slider .slick-list .item .item-wrap .item-image a {
  transition: all 0.3s;
}
.categories-home43 .sw-category-slider10 .resp-slider-container .slider .slick-list .item .item-wrap .item-image a img {
  border-radius: 50%;
  transition: all 0.3s;
}
.categories-home43 .sw-category-slider10 .resp-slider-container .slider .slick-list .item .item-wrap .item-image:hover img {
  border-radius: 50px;
}
.categories-home43 .sw-category-slider10 .resp-slider-container .slider .slick-list .item .item-wrap .item-content h3 {
  margin: 17px 0 0;
  font-weight: 400;
}
.categories-home43 .sw-category-slider10 .resp-slider-container .slider .slick-list .item .item-wrap .item-content h3 a {
  font-size: 18px;
  color: #111;
}
.categories-home43 .sw-category-slider10 .resp-slider-container .slider .slick-list .item .item-wrap .item-content h3 a:hover {
  color: var(--color);
}
.box-image-home43 .elementor-image-box-content .elementor-image-box-description span {
  font-size: 14px;
  color: #999;
  font-weight: 400;
}
.box-image-home43 .elementor-image-box-img a {
  position: relative;
  display: block;
}
.box-image-home43 .elementor-image-box-img a:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.2);
  opacity: 0;
  border-radius: 50px;
}
.box-image-home43:hover .elementor-image-box-img a:before {
  opacity: 1;
}
.box-image-home43:hover .elementor-image-box-img a img {
  border-radius: 50px;
}
.box-image-home43:hover .elementor-image-box-content .elementor-image-box-description {
  color: var(--color) !important;
}
.box-image-home43:hover .elementor-image-box-content .elementor-image-box-description span {
  color: #999 !important;
}
.elementor-9597 .elementor-element.elementor-element-094938e .elementor-image-box-wrapper:hover .elementor-image-box-content h3,
.elementor-9597 .elementor-element.elementor-element-a38434e .elementor-image-box-wrapper:hover .elementor-image-box-content h3,
.elementor-9597 .elementor-element.elementor-element-60ccc53 .elementor-image-box-wrapper:hover .elementor-image-box-content h3,
.elementor-9597 .elementor-element.elementor-element-b1f461a .elementor-image-box-wrapper:hover .elementor-image-box-content h3 {
  color: var(--color);
  cursor: pointer;
}
.footer-mid-43 .mc4wp-form p {
  margin: 0;
}
.footer-mid-43 .mc4wp-form input {
  background-color: #303030;
  height: 45px;
  border: 0;
  border-radius: 0;
  margin: 0;
}
.footer-mid-43 .mc4wp-form input[type="email"] {
  font-size: 14px;
  color: #8b8b8b;
  padding: 0 20px;
  float: left;
  min-width: 320px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: var(--color);
}
.footer-mid-43 .mc4wp-form input[type="submit"] {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  float: left;
  padding: 0 40px;
  background-color: #bb3333;
  border-radius: 5px;
}
.footer-mid-43 .mc4wp-form input[type="submit"]:hover {
  background-color: var(--darken10);
}
.footer-copyright43 .elementor-nav-menu--layout-horizontal .elementor-nav-menu>li:first-child a {
  padding-left: 0 !important;
}
.footer-copyright43 .copyright-text {
  text-align: left;
  font-size: 13px;
  color: #aaa;
}
.footer-copyright43 .copyright-text a {
  font-size: 13px;
  color: #aaa;
}
.footer-copyright43 .copyright-text a:hover {
  color: var(--color);
}
@media (min-width: 1680px) {
  .header-bottom-43 .swsearch-wrapper .top-form.top-search {
    min-width: 670px;
  }
}
@media (min-width: 1200px) and (max-width: 1679px) {
  .header-bottom-43 .top-login ul li a {
    padding: 0 20px;
  }
  .header-bottom-43 .swsearch-wrapper .top-form.top-search {
    min-width: 500px;
  }
  .elementor-9605 .elementor-element.elementor-element-873743f > .elementor-widget-container,
  .elementor-9605 .elementor-element.elementor-element-9ca4db0 > .elementor-widget-container,
  .elementor-9605 .elementor-element.elementor-element-34f2731 > .elementor-widget-container {
    margin: 0px 20px 0px 0px;
  }
  .rtl .elementor-9605 .elementor-element.elementor-element-873743f > .elementor-widget-container,
  .rtl .elementor-9605 .elementor-element.elementor-element-9ca4db0 > .elementor-widget-container,
  .rtl .elementor-9605 .elementor-element.elementor-element-34f2731 > .elementor-widget-container {
    margin: 0 0 0 20px;
  }
  .header-sibar-home43 .nav-pills.nav-mega .emarket-mega-menu.home-emarket >.dropdown-menu.column-1,
  .header-sibar-home43 .nav-pills.nav-mega .emarket-mega-menu.special-emarket >.dropdown-menu.column-1,
  .header-sibar-home43 .nav-pills.nav-mega .emarket-mega-menu.promotions-emarket >.dropdown-menu.column-1,
  .header-sibar-home43 .nav-pills.nav-mega .emarket-mega-menu.blog-emarket >.dropdown-menu.column-1,
  .header-sibar-home43 .nav-pills.nav-mega .emarket-mega-menu.shop-emarket >.dropdown-menu.column-1 {
    min-width: 1200px;
  }
}
@media (max-width: 1199px) {
  .footer-copyright43 .copyright-text {
    text-align: center;
  }
  .header-sibar-home43>.elementor-container {
    max-height: 700px;
    overflow-y: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-bottom-43 .yith-wcwl-items-count .wishlist-right span {
    display: none;
  }
  .header-bottom-43 .yith-wcwl-items-count .wishlist-right span.count-wishlist {
    display: block;
  }
  .header-bottom-43 .swsearch-wrapper .top-form.top-search {
    width: 350px;
  }
  .header-bottom-43 .top-form.top-form-minicart .minicart-title h3 {
    display: none;
  }
  .header-bottom-43 .top-login ul li a {
    padding: 0 10px;
  }
  .header-bottom-43 .yith-wcwl-items-count .wishlist-right span.count-wishlist {
    margin: 0;
  }
  .footer-mid-43 .mc4wp-form input[type="email"] {
    margin-right: 10px;
  }
}
@media (max-width: 991px) {
  .tags-home43 .elementor-widget-wp-widget-tag_cloud .tagcloud >a {
    margin: 0 2.5px 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-bottom-43 .yith-wcwl-items-count .wishlist-right span {
    display: none;
  }
  .header-bottom-43 .yith-wcwl-items-count .wishlist-right span.count-wishlist {
    display: block;
  }
  .header-top-43 #lang_sel >ul.nav >li >a,
  .header-top-43 .currency_w >li >a {
    padding: 0;
  }
  .header-top-43 #lang_sel {
    margin: 0;
  }
  .header-bottom-43 .top-form.top-form-minicart .minicart-title h3 {
    display: none;
  }
  .header-bottom-43 .swsearch-wrapper .top-form.top-search {
    width: 250px;
  }
  .header-bottom-43 .top-login ul li a {
    padding: 0 10px;
  }
  .header-bottom-43 .yith-wcwl-items-count i {
    margin: 0 !important;
  }
  .header-bottom-43 .top-form.top-form-minicart .top-minicart-icon {
    margin: 0 !important;
  }
  .header-bottom-43 .yith-wcwl-items-count .wishlist-right span.count-wishlist {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .elementor-9605 .elementor-element.elementor-element-32014e0 {
    width: 36%;
  }
}
@media (max-width: 767px) {
  .categories-home43 .sw-category-slider10 .box-title h3,
  .best-selling-product16 .box-title h3 {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .header-bottom-43 .top-login ul li a {
    padding: 0 20px;
  }
  .footer-copyright43 .copyright-text {
    text-align: center;
  }
  .header-bottom-43 .swsearch-wrapper .top-form.top-search {
    width: 250px;
  }
  .header-bottom-43 .top-form .wrapp-minicart {
    right: -90px;
  }
  .dailydeals-product13 .box-slider-top .item-countdown2 .countdown-show4 {
    padding: 24px 0;
  }
  .dailydeals-product13 .box-slider-top .item-countdown2 .countdown-show4 .countdown-section {
    padding: 0 14px;
  }
  .dailydeals-product13 .box-slider-top .item-countdown2 .countdown-show4 .countdown-section {
    font-size: 18px;
  }
}
